.video_control {
  margin: 0.5rem 0;
  margin-right: 0.25rem;
}

.videobox {
  border: 5px solid #918d8d;
  background-color: #48487a;
  border-radius: 40px;

  margin-right: 0.5rem;
}
.video_stream {
  margin: 20px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.call_chat {
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  padding: 5px;

  border-radius: 5px;
  background-color: #000000;
}

.info_message {
  margin: 0.25rem;

  border-bottom: 1px #808080 solid;

  color: #ffff00;
}

.chat_message {
  margin: 0.25rem;

  border-bottom: 1px #808080 solid;
}

.chat_message_form {
  max-width: none;
  border: none;
  box-shadow: none;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0.25rem;
  padding: 0;
}
.chat_message_form input {
  flex: 1;

  margin: 0;
  padding: 1rem 2rem;
}
